<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Login Page</title>
</head>

<body>
    {{>navbar}}
    <section class="home">
    <div class="boody">

        <div class="wrapper-login">
            <div class="form-box login">
                <h2>Login</h2>
                <form action="/auth/login" method="POST">
                    <div class="input-box">
                        <span class="bx bx-envelope icon"></span>
                        <input type="email" class="form-control" id="email" name="email" required>
                        <label for="email" class="form-label">Email</label>
                    </div>
                    <div class="input-box">
                        <span class="bx bx-lock-alt icon"></span>
                        <input type="password" class="form-control" id="password" name="password" required>
                        <label for="password" class="form-label">Password</label>
                    </div>
                    <div class="remember-forget">
                        <label><input type="checkbox"> Remember me</label>
                        <a href="#">Forgot Password?</a>
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                    <div class="login-register">
                        <p>Don't have a account? <a href="/register" class="register-link">Register</a></p>
                    </div>
                </form>
                <div class="message">
                    <div class="danger" id="danger">
                        {{#if message}}
                        <h4 class="alert alert-danger mt-4">{{message}}</h4>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>


    </div>

    </section>

    <script src="script.js"></script>

</body>

</html>
