
<nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                    <img src="MITS LOGO_.png" alt="logo" />
                </span>

                <div class="text header-text">
                    <span class="name">MITS,Gwalior(M.P.)</span>
                    <span class="profession">Scheduler</span>
                </div>
            </div>

            <i class="bx bx-chevron-right toggle"></i>

        </header>

        <div class="menu-bar">
            <div class="menu">
                <li class="search-box">
                    <a href="#">
                        <i class="bx bx-search icon"></i>
                        <input type="text" placeholder="Search...">
                    </a>
                </li>
                <ul class="menu-links">
                    <li class="nav-links">
                        <a href="/">
                            <i class="bx bx-home-alt icon"></i>
                            <span class="text nav-text">Home</span>
                        </a>
                    </li>
                    <li class="nav-links">
                        <a href="#">
                            <i class="bx bx-calendar-event icon"></i>
                            <span class="text nav-text">My Schedule</span>
                        </a>
                    </li>
                    <li class="nav-links">
                        <a href="#">
                            <i class="bx bx-bell icon"></i>
                            <span class="text nav-text">Updates</span>
                        </a>
                    </li>
                    <li class="nav-links">
                        <a href="#">
                            <i class="bx bx-group icon"></i>
                            <span class="text nav-text">About Us</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="bottom-content">
                <li class="nav-links">
                    <a href="#">
                        <i class="bx bx-log-out icon"></i>
                        <span class="text nav-text">Logout</span>
                    </a>
                </li>

            </div>
        </div>
    </nav>