<div class="col-6">
  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      id="floatingInput"
      placeholder="Enter Full name"
      name="name"
    />
    <label for="floatingInput">Full name</label>
  </div>
</div>
<div class="col-6">

  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      id="floatingInput"
      placeholder="Enter email"
      name="email"
    />
    <label for="floatingInput">Email</label>
  </div>
</div>
<div class="col-6">

  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      id="floatingInput"
      placeholder="Enter enrollment no."
      name="enrollment_no"
    />
    <label for="floatingInput">Enrollment no.</label>
  </div>
</div>
<div class="col-6">

  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      id="floatingInput"
      placeholder="Enter branch"
      name="branch"
    />
    <label for="floatingInput">Branch</label>
  </div>
</div>
<div class="col-6">

  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      id="floatingInput"
      placeholder="Enter year"
      name="year"
    />
    <label for="floatingInput">Year</label>
  </div>
</div>
<div class="col-12 d-grid">

  <button class="btn btn-primary" type="submit">Submit</button>
</div>